<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944226366511-pmalo77ca3oc1373899ek5e73e01uqkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944226366511-pmalo77ca3oc1373899ek5e73e01uqkg</string>
	<key>API_KEY</key>
	<string>AIzaSyAAI_Lndqc44yA8uI6K0Vm_DjFYvpTWV00</string>
	<key>GCM_SENDER_ID</key>
	<string>944226366511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myarchapp</string>
	<key>PROJECT_ID</key>
	<string>myarchapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myarchapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944226366511:ios:10241415375d7bff4dc2da</string>
</dict>
</plist>